body {
  margin: 0 100px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.Header {
  display: flex;
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  align-items: center;
}

.title {
  margin-right: auto;
  font-size: larger;
}

.menu-items {
  display: flex;
}

.menu-item {
  margin-left: 40px;
}

.sticky {
  position: sticky;
  top: 0
}