body {
  margin: 0 7%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  z-index: 2;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.zoom {
  transition: transform .5s;
}

.zoom:hover {
  transform: scale(1.1);
}

.Header {
  display: flex;
  margin-top: 40px;
  overflow: hidden;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.header-text {
  margin-right: auto;
  font-size: larger;
}


.menu-item {
  color: black;
  margin-left: 40px;
  padding: 7px 10px;
  text-decoration: none;
}

.menu-item:hover {
  font-weight: 700;
}

.sidebar {
  position: absolute;
  right: -360px;
  height: 100%;
  transition: right 0.5s ease-in-out;
  background-color: white;
  text-align: right;
  padding-right: 7%;
  font-size: 30px;
  line-height: 140%;
  z-index: 1;
}

.sidebar.open {
  right: 0;
}

.sidebar.fixed {
  position: fixed;
  top: 63.375px
}

.sidebar-item {
  padding: 0;
}

.sidebar-item-container {
  margin: 20px 0;
}

.siderbar-item:hover {
  font-weight: 700;
}

.right {
  margin: 0 auto;
}

.intro {
  margin-top: 70px;
  font-size: 70px;
  font-weight: 600;
  line-height: 140%;
  min-height: 500px;
  margin-left: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0;
}

.slick-prev:before {
  content: url('./images/la.png');
}

.slick-next:before {
  content: url('./images/ra.png');
}

.skills {
  margin: 0 40px 100px;
}

.skill {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 12px #b8b5b5;
  min-height: 270px;
  margin: 50px 25px;
}

.skill-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.skill-title {
  margin: 5px;
}

.skill-text {
  margin: auto 5px;
  font-size: 14px;
}

.about {
  margin: 0 40px;
  align-items: center;
}

.profile-pic {
  width: 300px;
  border-radius: 100%;
  margin: 20px 12% 0 0;
}

.center > .profile-pic {
  margin: 20px auto;
}

.about-text {
  line-height: 25px;
}

.sticky {
  position: sticky;
  top: 0
}

.linebreak {
  white-space: pre-line;
}

.typing:after {
  content: '|';
}

.typed:after {
  content: '|';
  animation: 1s blink step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

